.content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.right {
    text-align: right;
}
footer a {
    color: whitesmoke !important;
    text-decoration: underline !important;
}
footer a:hover {
    text-decoration: none !important;
}
nav {
    color: black !important;
}
.centered {
    margin-left: auto !important;
    margin-right: auto !important;
}