* {
    margin: 0;
    font-family: sans-serif;
}

#header-background {
    background-color: black;
    position: absolute;
    transform: rotate(-6deg);
    /* display: flex; */
    height: 400px;
    width: 150%;
    margin-left: -150px;
    z-index: -2;
}

/* button {
    border-radius: 0%;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: darkslategray;
    margin-top: 50px;
    margin-left: 100px;
    width: 200px;
    height: 40px;
} */

#name {
    background-color: white;
    font-weight: bold;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 10px;
    text-transform: capitalize;
    width: 100%;
}
.section-one {
    padding-top: 75px;
}

/* NEED TO CHANGE THIS FOR MOBILE */
.content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.right {
    text-align: right !important;
}

a:hover {
    text-decoration: none !important;
}
black {
    color: black !important;
}

h1 {
    color: #6ebe4c;
}

.light-link {
    color: rgb(182, 195, 255) !important;
}

.card-body {
    min-height: 300px !important;
    min-width: 300px !important;
    margin-right: 5px !important;
}